#radar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 348px;
    height: 348px;
    margin: auto;
    background: #222222;
    overflow: hidden;
    border: 2px solid #8ba892;
    -webkit-border-radius: 300px;
    border-radius: 300px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    backface-visibility: hidden;
}

#radar:before,
#radar:after {
    content: '';
    background: rgba(139, 168, 146, 0.15);
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#radar:before {
    width: 1px;
}

#radar:after {
    height: 1px;
}

#radar i {
    display: block;
    margin: 50px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 1px solid rgba(139, 168, 146, 0.15);
    -webkit-border-radius: 300px;
    border-radius: 300px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#radar > i:before {
    content: '';
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #8ba892 transparent;
    border-width: 0 5px 15px;
}

#radar.animated .dot {
    background: #c5d4c9;
    position: absolute;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    margin-left: -2px;
    opacity: 0.3;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px 4px #8ba892;
    box-shadow: 0 0 3px 4px #8ba892;
    -webkit-animation: dot_pulse linear 5s infinite;
    animation: dot_pulse linear 5s infinite;
}

#radar.animated .line {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50%;
    right: 50%;
    z-index: 9999;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-border-radius: 300px 0 0 0;
    border-radius: 300px 0 0 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-animation: radar 5s infinite linear;
    animation: radar 5s infinite linear;
    background-image: -webkit-linear-gradient(45deg, rgba(139, 168, 146, 0.01) 0%, rgba(139, 168, 146, 0.01) 50%, #8ba892 100%);
    background-image: linear-gradient(45deg, rgba(139, 168, 146, 0.01) 0%, rgba(139, 168, 146, 0.01) 50%, #8ba892 100%);
}

#guides {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes radar {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes radar {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes dot_pulse {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.1;
    }
}

@-webkit-keyframes dot_pulse {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.1;
    }
}