<html>
<head>
    <!-- Meta information -->
    <meta charset="UTF-8">
    <title>Arduino Bluetooth Car</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Resources -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrapxl.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/connect-animation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/radar.min.css') }}">
</head>

<body class="container light">
{% block body %}{% endblock %}


<!-- Bootstrap & Libraries-->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='libraries/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='libraries/jquery-3.1.0.js') }}"></script>

<!-- Custom scripts -->
<script src="{{ url_for('static', filename='scripts-frontend/connect-animation.js') }}"></script>
<script src="{{ url_for('static', filename='scripts-frontend/radar-animation.js') }}"></script>
<script src="{{ url_for('static', filename='scripts-frontend/page-controls.js') }}"></script>
<script src="{{ url_for('static', filename='scripts-backend/remote.js') }}"></script>

</body>
</html>